<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->

    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css1/css/styles.css')}}">
    <!-- endbuild -->
    
   <title>About Us</title>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.about-section {
  padding: 30px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.title {
  color: grey;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


#myButton1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#myButton1:hover {
  background-color: #555;
}

#myButton2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#myButton2:hover {
  background-color: #555;
}

#myButton3 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#myButton3:hover {
  background-color: #555;
}

#myButton4{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#myButton4:hover {
  background-color: #555;
}



.card{
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px #ccc;

}
.card-body{
  background: #fff;
  width: 100%;
  
}
.card-content{
  text-align: left;
  color: #333;
 }
.card-text{
  font-size: 14px;
  font-weight: 300;
}

</style>
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>                
            </button>
            <a class="navbar-brand mr-auto btn btn-social-icon btn-twitter" href="#"><span class ="fa fa-twitter fa-lg"></span></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                   <li class="nav-item"><a class="nav-link" href="{{url_for('hello')}}"><i class="fa fa-home fa-lg"></i> Home</a></li>
                     <li class="nav-item "><a class="nav-link" href="{{url_for('hello2')}}"><i class="fa fa-info fa-lg"></i> Analysis</a></li>
                      <li class="nav-item-active "><a class="nav-link" href="#"><i class="fa fa-info fa-lg"></i> About Us</a></li>

                </ul>                
            </div>
        </div>
    </nav>

    <div class="row">
      <div class="col-6">
       <a class="nav-link" href="{{url_for('hello2')}}"><i class="fa fa-arrow-circle-left" style="font-size:48px;color:black"></i></a>
      </div>
    </div>

    <div class="about-section">
    <h1>Our Team</h1>  
    </div>

    <div class="container">
<div class="row">
  <div class="col-lg-3">
 
                                         <div class="card">                                          
                                          <div class="card-header">
                                            <img class="card-img-top"src="{{url_for('static',filename='img/r.jpg')}}" alt="Roy" style="border-radius: 8px">
                                          </div>
                                          <div class="card-body">
                                            <div class="card-content">
                                              <div class="card-title"><strong>Rajarsi Roy</strong></div>
                                              <div class="card-text">
                                                <p>Student of Techno India University.</p>
                                                 <input onclick="change1()" type="button" value="Contact" id="myButton1"></input>
                                              </div>
                                            </div>
                                          </div>
                                           
                                        </div>
                                      </div>
                                   
                                    
                                    <div class="col-lg-3">
                                    <div class="card">                                          
                                          <div class="card-header">
                                            <img class="card-img-top"src="{{url_for('static',filename='img/d.jpg')}}" alt="Roy" style="border-radius: 8px">
                                          </div>
                                          <div class="card-body">
                                            <div class="card-content">
                                              <div class="card-title"><strong>Debajyoti Vebly</strong></div>
                                              <div class="card-text">
                                                <p>Student of Techno India University.</p>
                                                 <input onclick="change2()" type="button" value="Contact" id="myButton2"></input>
                                              </div>
                                            </div>
                                          </div>
                                           
                                        </div>
                                      </div>
                                    
                                   <div class="col-lg-3">
                                    <div class="card">                                          
                                          <div class="card-header">
                                            <img class="card-img-top"src="{{url_for('static',filename='img/ppp.jpg')}}" alt="Roy" style="border-radius: 10px">
                                          </div>
                                          <div class="card-body">
                                            <div class="card-content">
                                              <div class="card-title"><strong>Prodyut Das</strong></div>
                                              <div class="card-text">
                                                <p>Student of Techno India University.</p>
                                                 <input onclick="change3()" type="button" value="Contact" id="myButton3"></input>
                                              </div>
                                            </div>
                                          </div>
                                           
                                        </div>
                                      </div>
                                      <div class="col-lg-3">
                                    <div class="card">                                          
                                          <div class="card-header">
                                            <img class="card-img-top"src="{{url_for('static',filename='img/s.jpg')}}" alt="Roy" style="border-radius: 8px">
                                          </div>
                                          <div class="card-body">
                                            <div class="card-content">
                                              <div class="card-title"><strong>Shreyasi Ghose</strong></div>
                                              <div class="card-text">
                                                <p>Student of Techno India University.</p>
                                               <input onclick="change4()" type="button" value="Contact" id="myButton4"></input>
                                              </div>
                                            </div>
                                          </div>
                                           
                                        </div>
                                      </div>
                                    </div><
                                  </div>                         


     <footer class = "footer">
            <div class = "container">
                <div class = "row">
                    <div class = "col-4 offset-1">
                      <h5>Links</h5>
                        <ul class = "list-unstyled">
                            <li><a href="{{url_for('hello')}}">Home</a></li>
                            <li><a href="{{url_for('hello2')}}">Analysis</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>

                    <div class = "col-7 align-self-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="{{ url_for('static',filename='http://google.com/+')}}"><i class = "fa fa-google-plus fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="{{ url_for('static',filename='http://www.facebook.com/profile.php?id=')}}"><i class = "fa fa-facebook fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="{{ url_for('static',filename='http://www.linkedin.com/in/')}}"><i class = "fa fa-linkedin fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="{{ url_for('static',filename='http://twitter.com/')}}"><i class = "fa fa-twitter fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-youtube" href="{{ url_for('static',filename='http://youtube.com/')}}"><i class = "fa fa-youtube fa-lg"></i></a>
                            <a class="btn btn-social-icon " href="{{ url_for('static',filename='mailto:')}}"><i class = "fa fa-envelope fa-lg"></i></a>

                        </div>
                    </div>
               </div>
               <div class = "row justify-content-center">
                    <div class = "col-auto">
                        <p>© Copyright 2020</p>
                    </div>
               </div>
            </div>
        </footer>


<script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.slim.min.js')}}"></script>
        <script src="{{ url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
        <script src="{{ url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/scripts.js')}}"></script>

        <script>
         
           function change1()
          {
              document.getElementById("myButton1").value="rajarsi@gmail.com";
          }
           function change2()
          {
              document.getElementById("myButton2").value="debajyoti@gmail.com";
          }
           function change3()
          {
              document.getElementById("myButton3").value="prodyutdas@gmail.com";
          }
           function change4()
          {
              document.getElementById("myButton4").value="shreyasighose@gmail.com";
          }
        </script>        
</body>
</html>

