<!DOCTYPE html>
<html lang="en">
<!-- #00FFFF -->
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='node_modules/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css1/css/styles.css')}}">
    <!-- endbuild -->
    
    <title>Twitter</title>

</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>                
            </button>
            <a class="navbar-brand mr-auto btn btn-social-icon btn-twitter" href="#"><span class ="fa fa-twitter fa-lg"></span></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#"><i class="fa fa-home fa-lg"></i> Home</a></li>  
                     <li class="nav-item "><a class="nav-link" href="{{url_for('hello2')}}"><i class="fa fa-info fa-lg"></i> Analysis</a></li>
                      <li class="nav-item "><a class="nav-link" href="{{url_for('hello1')}}"><i class="fa fa-info fa-lg"></i> About Us</a></li>

                </ul>                
            </div>
        </div>
    </nav>
   <a class="nav-link" href="{{url_for('hello2')}}"><i class="fa fa-arrow-circle-right" style="font-size:48px;color:black"> Analysis</i></a>
	  <div id="arrowAnim">
	  <div class="arrowSliding">
	    <div class="arrow"></div>
	  </div>
	  <div class="arrowSliding delay1">
	    <div class="arrow"></div>
	  </div>
	  <div class="arrowSliding delay2">
	    <div class="arrow"></div>
	  </div>
	  <div class="arrowSliding delay3">
	    <div class="arrow"></div>
	  </div>
	  </div>
	 
     <div class="container">
                <div class="row row-content">
                    <div class="col">
                        <div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">                                        
                                        <div class ="carousel-caption d-none d-md-block">
                                            <div class="col-12">                                                
                                                    <blockquote class="blockquote">
                                                        <p class="md-0"><strong>"Prevention is better than cure, said India skipper Virat Kohli on Saturday as he urged fans to take all the precautionary measures to fight the coronavirus outbreak.Kohli took to Twitter to write: "Let's stay strong and fight the COVID19 outbreak by taking all precautionary measures. Stay safe, be vigilant and most importantly remember, prevention is better than cure. Please take care everyone."</strong></p>
                                                        <footer class="blockquote-footer">Virat Kohli <span class ="fa fa-twitter fa-lg"> Follow @EconomicTimes</span>   </footer>
                                                    </blockquote>                                                
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="carousel-item">                                        
                                        <div class ="carousel-caption d-none d-md-block"> 
                                        <div class="col-12">                                                
                                                    <blockquote class="blockquote">
                                                        <p class="md-0"><strong>"As the world battles COVID-19, India’s energetic and innovative youth can show the way in ensuring healthier and prosperous future. 
                                                        "</strong></p>
                                                        <footer class="blockquote-footer">Narendra Modi <span class ="fa fa-twitter fa-lg"></span></footer>
                                                    </blockquote>                                                
                                            </div>                     
                                            
                                        </div>                                        
                                    </div>
                                    <div class="carousel-item">
                                        <div class ="carousel-caption d-none d-md-block">             
                                         <div class="col-12">                                                
                                                    <blockquote class="blockquote">
                                                        <p class="md-0"><strong>"Discussed COVID-19 pandemic with Ireland’s PM, Mr.@LeoVaradkar. India and Ireland share similar approaches on many global issues.  We will work together to further strengthen our partnership in health, science & technology, to jointly address challenges of the post-COVID world. 
                                                        "</strong></p>
                                                        <footer class="blockquote-footer">Narendra Modi <span class ="fa fa-twitter fa-lg"></span></footer>
                                                    </blockquote>                                                
                                            </div>                 
                                              
                                            
                                        </div>                                        
                                    </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#mycarousel" data-slide-to="1"></li>
                                <li data-target="#mycarousel" data-slide-to="2"></li>          
                            </ol>
                            <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                             <span class="carousel-control-prev-icon"></span>                               
                            </a>
                            <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                             <span class="carousel-control-next-icon"></span>                               
                            </a>                            
                            <button class="btn btn-danger btn-sm" id="carouselButton">
                                <span id="carousel-button-icon" class="fa fa-pause"></span>
                            </button>
                                
                        </div>
                    </div>
                </div>

                <div class = "row row-content align-items-center">
                <div class = "col-12 col-sm-4 col-md-3">
                    <h3><u>Project Description</u></h3>
                </div>
                <div class = "col col-sm col-md">
                    <div class="media">                    
                        <div class="media-body">
                            <h2><u>Problem Statement</u></h2>
                            <p class="d-none d-sm-block"><strong>Sentiment Analysis Of COVID-19 Tweets-Visualization Dashboard.</strong>
                            </p>
                        </div>
                        </div>
                	</div>
                	<div class = "col col-sm col-md">
                    <div class="media">       
                        <div class="media-body">
                            <h2><u>Solution Statement</u></h2>
                            <p class="d-none d-sm-block"><strong>Developing a  "Model"  to predict the sentiments towards the current pandemic situation.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



                 
            </div>



             <footer class = "footer">
            <div class = "container">
                <div class = "row">             
                    <div class = "col-4 offset-1">
                      <h5>Links</h5>
                        <ul class = "list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="{{url_for('hello2')}}">Analysis</a></li>
                            <li><a href="{{url_for('hello1')}}">About Us</a></li>
                        </ul>
                    </div>
                    
                    <div class = "col-7 align-self-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="{{ url_for('static',filename='http://google.com/+')}}"><i class = "fa fa-google-plus fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="{{ url_for('static',filename='http://www.facebook.com/profile.php?id=')}}"><i class = "fa fa-facebook fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="{{ url_for('static',filename='http://www.linkedin.com/in/')}}"><i class = "fa fa-linkedin fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="{{ url_for('static',filename='http://twitter.com/')}}"><i class = "fa fa-twitter fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-youtube" href="{{ url_for('static',filename='http://youtube.com/')}}"><i class = "fa fa-youtube fa-lg"></i></a>
                            <a class="btn btn-social-icon " href="{{ url_for('static',filename='mailto:')}}"><i class = "fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
               </div>
               <div class = "row justify-content-center">             
                    <div class = "col-auto">
                        <p>© Copyright 2020</p>
                    </div>
               </div>
            </div>
        </footer>


 <!-- build:js js/main.js -->
        <script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.slim.min.js')}}"></script>
        <script src="{{ url_for('static',filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
        <script src="{{ url_for('static',filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static',filename='js/scripts.js')}}"></script>
        <!-- endbuild -->
        
</body>
</html>